<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Carrinho</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let item of cart.items">
      <ion-thumbnail item-start>
        <img [src]="item.produto.imageUrl || 'assets/imgs/prod.jpg'">
      </ion-thumbnail>
      <h2>{{item.produto.nome}}</h2>
      <p>{{item.produto.preco | currency:'BRL':'symbol'}}</p>
      <ion-row nowrap>
        <button ion-fab mini (click)="decreaseQuantity(item.produto)">
          <ion-icon name="remove"></ion-icon>
        </button>
        <p class="quantidade-style">{{item.quantidade}}</p>
        <button ion-fab mini (click)="increaseQuantity(item.produto)">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-row>
      <ion-icon name="trash" color="danger" item-end (click)="removeProduto(item.produto)"></ion-icon>
    </ion-item><br>
    <div *ngIf="total() > 0; else noItems">
      <h2 text-right>Total: {{total() | currency:'BRL':'symbol'}}</h2>
      <button ion-button block (click)="checkout()">
        Finalizar Compra
      </button>
    </div>
    <ng-template #noItems>
      <h3 text-center>Carrinho Vazio</h3>
      <ion-row justify-content-center>
        <ion-icon name="cart" style="zoom:4.0;"></ion-icon>
      </ion-row>
    </ng-template>
  </ion-list>
</ion-content>

<ion-footer no-shadow>
  <ion-toolbar position="bottom">
    <button type="button" style="background: orange;" ion-button full (click)="goOn()">Continuar Comprando</button>
  </ion-toolbar>
</ion-footer>